ImageSieve ICON "ImageSieve.ico"
ImageSieveVersion VERSIONINFO
    FILEVERSION    0,2,5,0
    PRODUCTVERSION 0,2,5,0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName",        "Florian Fetz\0"
            VALUE "FileDescription",    "GUI based tool to sort out images\0"
            VALUE "FileVersion",        "0.2.5.0\0"
            VALUE "OriginalFilename",   "MyProg.exe\0"
            VALUE "ProductName",        "ImageSieve\0"
            VALUE "ProductVersion",     "0.2.5.0\0"
        }
    }
}
