<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Language="1033"
           Manufacturer="Florian Fetz"
           Name="ImageSieve"
           UpgradeCode="{21797e66-3281-4b4d-8e59-63f98eb6a4c2}"
           Version="0.2.5.0">

    <Package InstallScope="perMachine" InstallerVersion="200" Compressed="yes" />

    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONROOTDIRECTORY" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="ImageSieve" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="ImageSieve"/>
      </Directory>
    </Directory>

    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Component Id="image_sieve_app" Guid="9b5ac7c6-0fcb-47fc-b18d-731687abf106">
        <File Id="image_sieve_exe" Source="test\image_sieve.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="f61ee686-e9f5-4847-8460-04b4028aeafb">
        <Shortcut Id="ApplicationStartMenuShortcut" 
                  Name="ImageSieve" 
                  Description="GUI based tool to sort out images based on similarity, categorize them according to their creation date and archive them in a target folder."
                  Target="[#image_sieve_exe]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\ImageSieve" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="image_sieve_app" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <UIRef Id="WixUI_InstallDir" />
    
  </Product>
</Wix>
