<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Language="1033"
           Manufacturer="Florian Fetz"
           Name="ImageSieve"
           UpgradeCode="{21797e66-3281-4b4d-8e59-63f98eb6a4c2}"
           Version="!(bind.FileVersion.image_sieve.exe)">

    <Package InstallScope="perUser" InstallPrivileges="limited" InstallerVersion="200" Compressed="yes" />

    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

    <MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONROOTDIRECTORY" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="ImageSieve" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="ImageSieve"/>
      </Directory>
    </Directory>

    <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
      <Component Id="image_sieve.exe" Guid="9b5ac7c6-0fcb-47fc-b18d-731687abf106">
        <File Id="image_sieve.exe" Source="target\release\image_sieve.exe" Checksum="yes"/>
        <RegistryValue Root="HKCU" Key="Software\ImageSieve" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <RemoveFolder Id="APPLICATIONROOTDIRECTORY" On="uninstall"/>
      </Component>
      <Component Id="avcodec_58.dll">
        <File Id="avcodec_58.dll" Source="ffmpeg\bin\avcodec-58.dll" Checksum="yes" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="f61ee686-e9f5-4847-8460-04b4028aeafb">
        <Shortcut Id="ApplicationStartMenuShortcut" 
                  Name="ImageSieve" 
                  Description="GUI based tool to sort out images based on similarity, categorize them according to their creation date and archive them in a target folder."
                  Target="[#image_sieve.exe]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\ImageSieveMenu" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="MainApplication" Title="Main Application" Level="1">
      <ComponentRef Id="image_sieve.exe" />
      <ComponentRef Id="avcodec_58.dll" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <WixVariable Id="WixUIBannerBmp" Value="installer\InstallerBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="installer\InstallerDialog.bmp" />    
    <WixVariable Id="WixUIBannerText" Value="ImageSieve" />

    <UI>
      <UIRef Id="WixUI_InstallDir" />

      <Publish Dialog="WelcomeDlg"
                Control="Next"
                Event="NewDialog"
                Value="InstallDirDlg"
                Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg"
                Control="Back"
                Event="NewDialog"
                Value="WelcomeDlg"
                Order="2">1</Publish>
    </UI>
    
  </Product>
</Wix>
